/* Cores globais */
@font-face {
  font-family: 'universBold';
  src: url("../Assets/univers-next-pro-cufonfonts/UniversNextProBold.ttf");
  font-family: 'universRegular';
  src: url("../Assets/univers-next-pro-cufonfonts/UniversNextProItalic.ttf");
  font-family: 'universMedium';
  src: url("../Assets/univers-next-pro-cufonfonts/UniversNextProMediumCondensed.ttf"); }
body {
  overflow-x: hidden; }

.navbar-brand {
  gap: 40px;
  display: flex;
  padding-left: 20px; }
  .navbar-brand span {
    font-size: 20px;
    font-weight: 200;
    color: #486018;
    align-self: center; }
  .navbar-brand .span-2022 {
    font-weight: 600;
    color: #486018; }

.button-header {
  margin-right: 20px;
  color: #ffff;
  padding: 8px 15px;
  border-radius: 6px;
  background-color: #486018;
  border: 0; }

.button-banner {
  margin-right: 20px;
  color: #ffff;
  padding: 8px 20px;
  border-radius: 6px;
  background-color: #486018;
  border: 0;
  margin-top: 50px; }

.fixed-top {
  width: 90%;
  margin: auto;
  border-radius: 0px 0px 10px 10px; }

/* Css menu */
.offcanvas.offcanvas-end {
  width: 100%;
  border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
  transform: translateY(-100%);
  background-color: #ffe666;
  padding-bottom: 10px; }

.header-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding-bottom: 10px; }

.offcanvas-header span {
  font-size: 25px; }

.offcanvas-header img {
  width: 80px;
  margin: auto; }

.offcanvas-body {
  margin: auto; }

.nav-item a {
  text-align: center;
  font-size: 40px; }

.text-banner {
  padding: 200px 100px;
  background: url("../Assets/banner.png") no-repeat;
  background-size: cover; }
  .text-banner h1 {
    font-size: 3.8em;
    letter-spacing: -1px;
    font-weight: 600;
    font-family: universMedium; }
    .text-banner h1 .title {
      background-color: #c4e877;
      line-height: 1.35;
      padding: 0 10px;
      display: inline-block; }
  .text-banner h2 {
    font-family: universMedium;
    font-weight: 400;
    letter-spacing: -1.4px;
    font-size: 1.8em; }
    .text-banner h2 .subtitle {
      background-color: #ffe666;
      line-height: 1.35;
      padding: 0 10px;
      display: inline-block; }

/*Primeira section*/
.col p {
  text-align: initial; }

.background-img-text {
  background-color: #c4e877;
  display: flex; }
  .background-img-text h3 {
    text-align: initial;
    margin-left: 20px;
    align-self: center;
    font-weight: 500;
    font-family: universMedium; }

.section-primary {
  margin-top: 100px;
  display: flex;
  margin-bottom: 100px; }
  .section-primary p {
    font-weight: 400;
    font-size: 18px; }
  .section-primary .coluna-1 {
    padding-right: 50px; }
  .section-primary .title-section-1 {
    font-size: 40px;
    text-align: initial; }

.second-col {
  margin-top: 40px; }
  .second-col img {
    width: 100%; }

.background-img-text-2 {
  background-color: #c4e877;
  display: flex;
  flex-direction: column; }
  .background-img-text-2 h3 {
    text-align: initial;
    margin-left: 20px;
    align-self: center;
    font-weight: 400;
    font-family: universMedium;
    margin-top: -15px; }
  .background-img-text-2 span {
    font-size: 70px;
    text-align: initial;
    margin-left: 20px;
    font-family: universMedium;
    font-weight: 600; }

.Section-second {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px; }
  .Section-second h2 {
    text-align: initial;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 35px;
    font-family: universMedium; }

.section-third-content {
  margin: auto;
  text-align: initial;
  display: flex;
  margin-top: 50px;
  margin-bottom: 100px; }
  .section-third-content p {
    text-align: initial;
    margin-bottom: 30px;
    font-size: 1.3em; }

.Text-background {
  background-color: #c4e877;
  font-size: 24px;
  font-family: universMedium;
  padding: 10px 10px;
  text-align: initial;
  margin-bottom: 20px;
  margin-top: -30px; }

.Container-Cards {
  display: flex;
  gap: 50px;
  margin-top: 30px;
  justify-content: center;
  flex-wrap: wrap; }
  .Container-Cards .Card-1 {
    background-color: #d8f0a5;
    width: 330px;
    display: flex;
    flex-direction: column;
    height: 100px; }
    .Container-Cards .Card-1 span {
      font-size: 65px;
      text-align: initial;
      font-weight: 500;
      font-family: universMedium;
      padding-left: 10px; }
    .Container-Cards .Card-1 p {
      font-size: 30px;
      text-align: initial;
      padding-left: 20px;
      background-color: #c4e877;
      padding-bottom: 120px;
      font-family: universMedium;
      font-family: 300; }
  .Container-Cards .Card-2 {
    background-color: #d8f0a5;
    width: 330px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 100px; }
    .Container-Cards .Card-2 span {
      font-size: 65px;
      text-align: initial;
      font-weight: 500;
      font-family: universMedium;
      padding-left: 10px; }
    .Container-Cards .Card-2 p {
      font-size: 30px;
      text-align: initial;
      padding-left: 20px;
      background-color: #c4e877;
      padding-bottom: 77px;
      font-family: universMedium;
      font-family: 300; }
  .Container-Cards .Card {
    background-color: #d8f0a5;
    width: 330px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    height: 200px; }
    .Container-Cards .Card span {
      font-size: 65px;
      text-align: initial;
      font-weight: 500;
      font-family: universMedium;
      padding-left: 10px; }
    .Container-Cards .Card p {
      font-size: 32px;
      text-align: initial;
      padding-left: 20px;
      background-color: #c4e877;
      padding-bottom: 10px;
      font-family: universMedium;
      font-family: 300;
      line-height: 35px; }
      .Container-Cards .Card p .span-prag {
        font-size: 14px;
        margin-top: 11px;
        width: 65%;
        display: flex;
        flex-direction: column;
        line-height: 20px;
        color: #8B8B8D; }

.Banner-third {
  padding: 150px 0;
  background-image: url(../Assets/img.png);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover; }
  .Banner-third h2 {
    justify-content: center;
    font-size: 4em;
    font-family: universMedium;
    font-weight: 500;
    color: #000;
    width: 70%;
    margin: auto; }
    .Banner-third h2 .span-1 {
      background-color: #c4e877;
      line-height: 1.35;
      padding: 0 10px; }
    .Banner-third h2 .span-2 {
      background-color: #1ddcff;
      line-height: 1.35;
      padding: 0 10px; }
    .Banner-third h2 .span-3 {
      background-color: #ffe666;
      line-height: 1.35;
      padding: 0 10px; }
    .Banner-third h2 .span-4 {
      background-color: #fbc90b;
      line-height: 1.35;
      padding: 0 10px; }
    .Banner-third h2 .span-5 {
      background-color: #c4e877;
      line-height: 1.35;
      padding: 0 10px; }

.map-text {
  display: flex;
  flex-direction: column;
  margin-top: 60px; }
  .map-text p {
    text-align: initial;
    font-size: 20px;
    margin-bottom: 30px; }

.Container-Box {
  display: flex;
  gap: 20px;
  margin-bottom: 100px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 50px; }
  .Container-Box h2 {
    font-size: 50px;
    font-weight: 600;
    text-align: left; }
  .Container-Box .Box {
    display: flex;
    flex-direction: column;
    background-color: #d8f0a5;
    padding: 15px 25px;
    width: 25vw;
    max-width: 100vw;
    height: 60rem; }
    .Container-Box .Box p {
      font-size: 25px; }
      .Container-Box .Box p span {
        font-size: 43px; }
    .Container-Box .Box p.span-prag {
      font-size: 1.2em;
      margin-top: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      line-height: 20px;
      color: #8B8B8D; }
    .Container-Box .Box li {
      margin-bottom: 20px;
      font-size: 20px;
      text-align: initial; }
  .Container-Box .Box-icon {
    display: flex;
    flex-direction: column; }
    .Container-Box .Box-icon img {
      background-color: #c4e877;
      padding: 30px;
      width: 7rem; }

.Container-people {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  margin-bottom: 60px; }
  .Container-people .Box-img {
    background-color: #1ddcff;
    width: 400px;
    align-self: center;
    height: fit-content;
    margin-left: -100px; }
    .Container-people .Box-img p {
      font-size: 25px;
      padding: 15px;
      font-family: universRegular; }
      .Container-people .Box-img p span {
        font-size: 55px;
        font-family: universMedium; }

.Container-traines {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .Container-traines img {
    margin-bottom: 60px;
    align-self: center; }

.Container-act {
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 80%; }
  .Container-act p {
    padding: 30px 0;
    font-size: 1.2em;
    text-align: justify; }
  .Container-act .Box-Icon-small {
    display: flex;
    margin-top: 20px; }
    .Container-act .Box-Icon-small .Icon-box-small img {
      background-color: #FFF1A8;
      padding: 31px 40px; }
    .Container-act .Box-Icon-small p {
      background-color: #FFE666;
      padding: 46px 50px;
      font-size: 1.5em;
      margin-left: 20px; }
      .Container-act .Box-Icon-small p span {
        font-weight: bold; }
  .Container-act .Box-Icon-text {
    display: flex; }
    .Container-act .Box-Icon-text p {
      background-color: #FFE666;
      padding: 40px 46px;
      font-size: 1.5em;
      margin-left: 20px; }
      .Container-act .Box-Icon-text p span {
        font-weight: bold; }
    .Container-act .Box-Icon-text .Icon-box img {
      background-color: #FFF1A8;
      padding: 43px; }
  .Container-act img.main {
    margin: 20px 0; }
  .Container-act .generation h2 {
    margin-top: 40px;
    margin-bottom: 20px; }
  .Container-act .generation > p {
    font-weight: bold; }
  .Container-act .contracts {
    margin-bottom: 60px; }
    .Container-act .contracts h2 {
      font-size: 1.8em;
      margin-bottom: 30px; }

.Container-value {
  display: flex;
  margin-top: 100px;
  justify-content: flex-end;
  margin-left: -100px; }
  .Container-value p {
    font-size: 30px;
    padding: 10px 0 0 10px;
    font-family: universMedium; }
  .Container-value span {
    font-size: 55px;
    padding-left: 10px;
    font-weight: 500;
    font-family: universMedium; }
  .Container-value .Hidden-Box-img {
    display: none;
    background-color: #fbc90b;
    width: 400px;
    align-self: center;
    height: fit-content; }
  .Container-value .Box-img {
    background-color: #fbc90b;
    width: 400px;
    align-self: center;
    height: fit-content;
    position: absolute;
    margin-right: 700px; }

.Container-estimates {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px; }
  .Container-estimates .row-1 {
    display: flex;
    margin-bottom: 40px; }
  .Container-estimates .row-2 {
    display: flex; }
  .Container-estimates .estimate {
    margin-right: auto; }
    .Container-estimates .estimate p {
      text-align: justify;
      font-size: 1.5em;
      font-family: universMedium; }
    .Container-estimates .estimate h2 {
      font-size: 3.6em; }
      .Container-estimates .estimate h2 span {
        font-family: universBold;
        width: 100%;
        background-color: #fbc90b;
        line-height: 1.35;
        padding: 0 10px;
        padding-right: 1em; }

.Container-cortes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 60px; }
  .Container-cortes .bg-yellow {
    align-self: last baseline;
    background-color: #ffe666; }
    .Container-cortes .bg-yellow p {
      text-align: left;
      padding: 10px;
      font-size: 25px;
      font-family: universRegular; }

.Container-asg-program h2 {
  font-family: universBold;
  font-weight: bold;
  font-size: 3em; }
.Container-asg-program p {
  font-family: universRegular;
  font-size: 1.2em; }
.Container-asg-program .human {
  background-color: #1ddcff; }
.Container-asg-program .green {
  background-color: #c4e877; }
.Container-asg-program .social {
  background-color: #fbc90b; }

.Container-destaques {
  display: flex;
  flex-direction: column;
  width: 100vw; }
  .Container-destaques .title {
    font-family: universBold;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 80px;
    text-align: center; }
  .Container-destaques .cards-asg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee; }
    .Container-destaques .cards-asg .card-asg {
      margin-top: -15px; }
    .Container-destaques .cards-asg .card-asg {
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      padding: 0 20px;
      width: 90%; }
      .Container-destaques .cards-asg .card-asg .carg-asg-img-blue {
        display: flex;
        justify-content: center;
        width: 85%;
        background-color: #1ddcff;
        margin-bottom: 30px; }
        .Container-destaques .cards-asg .card-asg .carg-asg-img-blue img {
          padding: 20px; }
      .Container-destaques .cards-asg .card-asg .carg-asg-img-green {
        display: flex;
        justify-content: center;
        width: 85%;
        background-color: #c4e877;
        margin-bottom: 30px; }
        .Container-destaques .cards-asg .card-asg .carg-asg-img-green img {
          padding: 20px; }
      .Container-destaques .cards-asg .card-asg .carg-asg-img-yellow {
        display: flex;
        justify-content: center;
        width: 85%;
        background-color: #fbc90b;
        margin-bottom: 30px; }
        .Container-destaques .cards-asg .card-asg .carg-asg-img-yellow img {
          padding: 20px; }
      .Container-destaques .cards-asg .card-asg .card-asg-body {
        width: 85%;
        margin-bottom: 30px; }
        .Container-destaques .cards-asg .card-asg .card-asg-body span {
          font-weight: bold; }
        .Container-destaques .cards-asg .card-asg .card-asg-body p {
          font-size: 1.5em;
          font-weight: bold;
          margin-top: 20px; }
        .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button {
          margin-top: 20px;
          transition: all 0.5s; }
        .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button:hover {
          transform: scale(1.1); }
        .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button-blue {
          color: #000;
          background-color: #1ddcff; }
        .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button-green {
          color: #000;
          background-color: #c4e877; }
        .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button-yellow {
          color: #000;
          background-color: #fbc90b; }

/*footer*/
.img-footer {
  background-image: url(../Assets/img-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 450px; }

.box-orange {
  background-color: #F76C00;
  padding: 30px 50px;
  width: 750px;
  margin: auto;
  border-radius: 10px;
  font-size: 25px;
  color: #ffff;
  text-align: center; }
  .box-orange a {
    color: #ffff;
    text-decoration: none; }

.container-footer {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  padding: 10px 60px;
  width: 90%;
  margin: auto; }

.footer {
  display: flex;
  flex-direction: column; }
  .footer span {
    color: #b7b7b7; }

@media only screen and (max-width: 600px) {
  .navbar-brand a span {
    display: none; }

  .text-banner {
    background-position: center center;
    padding: 200px 40px; }
    .text-banner h1 {
      font-size: 1.8em; }
    .text-banner h2 {
      font-size: 1.3em; }

  .section-primary {
    margin-top: 30px; }

  .Banner-third {
    background-position: center left; }
    .Banner-third h2 {
      font-size: 2em; }

  .Container-Cards {
    gap: 200px 0; }

  .Container-Box .Box {
    width: 100vw;
    height: 55rem; }

  .Container-people {
    margin-top: 60px;
    margin-bottom: 40px; }
    .Container-people img {
      display: none; }
    .Container-people .Box-img {
      margin-left: -2px; }

  .Container-act .Box-Icon-small {
    display: flex;
    flex-direction: column; }
    .Container-act .Box-Icon-small p {
      background-color: #FFE666;
      font-size: 1em;
      margin-left: 0px; }
    .Container-act .Box-Icon-small .Icon-box-small img {
      background-color: #FFF1A8;
      width: 7rem; }
  .Container-act .Box-Icon-text {
    display: flex;
    flex-direction: column; }
    .Container-act .Box-Icon-text p {
      background-color: #FFE666;
      font-size: 1em;
      margin-left: 0px; }
    .Container-act .Box-Icon-text .Icon-box img {
      background-color: #FFF1A8;
      width: 7rem; }

  .Container-cortes {
    display: flex;
    flex-direction: column; }
    .Container-cortes .bg-yellow {
      margin-top: 10px; }
      .Container-cortes .bg-yellow p {
        font-size: 1.3em; }

  .Container-value {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 0; }
    .Container-value img {
      display: none; }
    .Container-value .Box-img {
      display: none; }
    .Container-value .Hidden-Box-img {
      display: block;
      background-color: #fbc90b;
      width: 300px;
      align-self: center;
      height: fit-content; }

  .Container-estimates {
    margin-bottom: 30px; }
    .Container-estimates .row-1 {
      display: flex;
      flex-direction: column;
      margin-bottom: -10px; }
    .Container-estimates .row-2 {
      display: flex;
      flex-direction: column; }
    .Container-estimates .estimate {
      margin-bottom: 40px; }
      .Container-estimates .estimate p {
        text-align: justify;
        font-size: 1em;
        font-family: universMedium; }
      .Container-estimates .estimate h2 {
        font-size: 2em; }
        .Container-estimates .estimate h2 span {
          font-family: universBold;
          width: 100%;
          background-color: #fbc90b;
          line-height: 1.35;
          padding: 0 10px;
          padding-right: 1em; }

  .Container-asg-program h2 {
    font-size: 1.5em; }
  .Container-asg-program p {
    text-align: justify;
    font-size: 1em; }

  .Container-destaques {
    display: flex;
    flex-direction: column; }
    .Container-destaques .title {
      font-family: universBold;
      font-weight: bold;
      font-size: 1.5em;
      margin-bottom: 80px; }
    .Container-destaques .cards-asg {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: #eee; }
      .Container-destaques .cards-asg .card-asg {
        margin-top: -15px; }
      .Container-destaques .cards-asg .card-asg {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
        padding: 0 20px;
        width: 90%; }
        .Container-destaques .cards-asg .card-asg .carg-asg-img-blue {
          display: flex;
          justify-content: center;
          width: 85%;
          background-color: #1ddcff;
          margin-bottom: 30px; }
          .Container-destaques .cards-asg .card-asg .carg-asg-img-blue img {
            padding: 20px; }
        .Container-destaques .cards-asg .card-asg .carg-asg-img-green {
          display: flex;
          justify-content: center;
          width: 85%;
          background-color: #c4e877;
          margin-bottom: 30px; }
          .Container-destaques .cards-asg .card-asg .carg-asg-img-green img {
            padding: 20px; }
        .Container-destaques .cards-asg .card-asg .carg-asg-img-yellow {
          display: flex;
          justify-content: center;
          width: 85%;
          background-color: #fbc90b;
          margin-bottom: 30px; }
          .Container-destaques .cards-asg .card-asg .carg-asg-img-yellow img {
            padding: 20px; }
        .Container-destaques .cards-asg .card-asg .card-asg-body {
          width: 85%;
          margin-bottom: 30px; }
          .Container-destaques .cards-asg .card-asg .card-asg-body h3 {
            font-size: 1.5em; }
          .Container-destaques .cards-asg .card-asg .card-asg-body p {
            font-size: 1em; }
          .Container-destaques .cards-asg .card-asg .card-asg-body span {
            font-weight: bold;
            font-size: 1em; }
          .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button-blue {
            color: #000;
            background-color: #1ddcff; }
          .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button-green {
            color: #000;
            background-color: #c4e877; }
          .Container-destaques .cards-asg .card-asg .card-asg-body .card-asg-button-yellow {
            color: #000;
            background-color: #fbc90b; }

  .img-footer {
    background-position: center right;
    padding: 0 8px; }
    .img-footer .box-orange {
      height: auto;
      font-size: 1em; }

  .container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px 60px; } }

/*# sourceMappingURL=main.css.map */
